<a href="https://colab.research.google.com/github/brilliantfriezka/Machine-Learning---Brilliant-Friezka-Aina/blob/main/Week2/machinelearningweek10_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

YOUR FIRST MACHINE LEARNING MODEL
*   Nama   : Brilliant Friezka Aina
*   NIM    : 1103194186
*   Kelas  : TK-42-PIL

In [ ]:
# mengkoneksikan google colab dengan google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

# memasukan link data yang akan dibaca
melbourne_file_path = '/content/drive/MyDrive/Machine Learning/DataTugas1/melb_data.csv'
# membaca data yang ada di link
melbourne_data = pd.read_csv(melbourne_file_path) 
# menampilkan hanya index kolom saja
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [ ]:
# mengapus data yang memiliki hasil 0
melbourne_data = melbourne_data.dropna(axis=0)

In [ ]:
# memasukan price atau harga ke fungsi y
y = melbourne_data.Price

In [ ]:
# membuat label pada data
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [ ]:
# memasukan melbourne features ke fungsi X
X = melbourne_data[melbourne_features]

In [ ]:
# menampilkan fungsi X
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [ ]:
# menampilkan data yang sudah disaring
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [ ]:
# mengimport menjadi pohon keputusan
from sklearn.tree import DecisionTreeRegressor

# mendefinisikan nomor model supaya saat dijalankan nilainya tidak berubah-ubah
melbourne_model = DecisionTreeRegressor(random_state=1)

# menjadikan X,y sebagai role model
melbourne_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [ ]:
# memanggil dengan pohon keputusan variable random state
DecisionTreeRegressor(random_state=1)

DecisionTreeRegressor(random_state=1)

In [ ]:
print("Making predictions for the following 5 houses:")
# menampilkan variabel X dengan data yang sudah disaring
print(X.head())
print("The predictions are")
# memasukkan role model ke data yang sudah disaring
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]